<table class="table table-border">
  <thead>
    <tr>
      <th>
        <%= "Name" %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @roles.each do |role| %>
      <% if Admin::RolePolicy.new(current_user, policy_params("admin/roles", "show")).show? %>
        <tr>
          <td>
            <%= link_to role.name, [:admin, role] %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
